body{
    background-color: slategray;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

h1{
    font-size: 50px;
}

.description{
    background-color: slategray;
    max-width: 75%;
    
}

.recipe-list{
    background-color: lightslategrey;
    color: white;
    padding: 20px;
    font-size: 50px;
    text-align: left;
    
}

#norse-feast-main{
    height: 600px;
    width: auto;
}