body{
    background-color: slategray;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

#main-title-text{
    font-size: 100px;
    font-weight: bold;
    text-decoration: underline;

}

.description{
    margin: auto 15%;
    font-size: 40px;
    max-width: 50vw;
}

#recipe-list{
    color: white;
    font-size: 50px;
    text-align: left;
    
}

#norse-feast-main{
    height: 600px;
    width: auto;
}

.recipe-ingredients, .recipe-directions {
    text-align: left;
    padding: 0 20px;
    margin: auto;
    max-width: 50vw;
    font-size: 25px;
    border: 1px solid white;
    border-radius: 10px;

}

.recipe-directions h2, .recipe-ingredients h2 {
    font-size: 40px;
    text-decoration: underline;
}